


.temp{
    width: 80%;
    height: auto;
    
    ;
    background:linear-gradient(to bottom left, rgba(255,255,255,0.5),rgba(255,255,255,0.9));
    margin: 0 auto;
    margin-top: 5vw;
}
.repo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.temp{
    width: 80%;
    aspect-ratio: 1;
}
.hrz{
    display: flex;
    border: 1px solid black;
    border-radius: 2px;
}
.icos{
    background-color: rgb(48, 91, 112);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}